.card {
  width: 100%;
  color: var(--title-main);
  background-color: var(--background-dark);
  /* height: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.form {
  width: 100%;
  height: 100%;
  /* flex: 1; */
}

.display {
  display: none;
  height: 0;
}

.input {
  border: none;
  background-color: var(--background-dark);
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--title-main);
  font-size: 1em;
  outline: none;
}

.input:focus {
  border: none;
  background-color: var(--background-dark);
}

.orange {
  color:rgb(199, 152, 33);
}

.green {
  color: var(--cursor-color)
}