.nodecoration {
  text-decoration: none;
  color: var(--tag-high);
}

.list {
  width: 100%;
  color: var(--title-main);
  padding: 8px 0px;
}

.item {
  font-size: 1.1em;
  padding: 4px 0px;
}

.green {
  color: var(--cursor-color);
}