.pre {
  color: var(--title-main);
  width: 100%;
  height: fit-content;
  font-size: 1.2em;
  display: flex;
}

.line {
  line-height: 0.7em;
  padding-top: 7px;
}

.photo {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.green {
  color: var(--cursor-color);
}
.grey {
  color: var(--para-text);
}